@import "tailwindcss";

@theme {
    --font-figtree: "Figtree", sans-serif;
    --font-urbanist: "Urbanist", sans-serif;
    --font-nunito: "Nunito", sans-serif;

    --color-primary: #FC004E;
    --color-secondary: #10CBE0;
    --color-tertiary: #ABABAB;
    --color-quaternary: #A9A9A9;

    --color-dark: #010101;    

    --gradient-primary-secondary: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary) 100%);
     
    --breakpoint-xs: 390px;
}

.bg-gradient-primary-secondary {
    background-image: var(--gradient-primary-secondary);
}

@layer base {
    /* Banner Section */
    .banner-emoji {
        @apply font-figtree font-extrabold leading-none text-center md:text-right text-[16px] lg:text-[22px] flex-shrink-0;
    }
    .banner-text {
        @apply font-figtree text-white leading-none text-center md:text-left text-[16px] sm:text-[18px] xl:text-[22px];
    }

    /* Hero Section */
    .hero-heading {
        @apply font-urbanist text-[25px] sm:text-[28px] xl:text-[35px] font-extrabold md:font-bold text-center md:text-left leading-[100%];
    }

    .hero-heading-highlight {
        @apply text-secondary;
        text-shadow: 0 0 1px #FC004E, 0 4px 4px #FC004E;
    }

    /* Hero Content Section */
    .cta-button {
        @apply w-full h-[40px] rounded-[10px] cursor-pointer transition-all duration-300 
            bg-primary hover:bg-primary/90 text-xl font-bold leading-none 
            font-figtree drop-shadow-[2px_2px_10px_var(--color-secondary)];
    }

    .cta-subtext {
        @apply font-figtree font-normal text-[12px] leading-[16px] text-center align-middle;
    }

    .cta-terms {
        @apply font-figtree font-medium text-[12px] leading-none text-tertiary text-center md:text-left align-middle;
    }

    .cta-copy {
        @apply font-nunito md:font-figtree font-medium text-[10px] leading-none text-tertiary text-center md:text-left align-middle;
    }
}
